.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  display: block;
}

select {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 1em;
}

.pairing {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  border: 2px solid;
  padding: 0.5em;
  width: 30%;
}

.pairing .caption {
  font-style: italic;
  display: block;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid;
  width: fit-content;
  margin-bottom: 1em;
}

.pairing button {
  margin-top: 1em;
}

.pairing input {
  width: 5em;
}

.success {
  margin-top: 2em;
}