.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);

  // overscroll-behavior: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// TODO:
// also checkout:
// https://stackoverflow.com/questions/69261011/disable-pull-to-refresh-in-ios-15-safari
