@import '../../styles/color.scss';

.form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
    padding: 0 1em 1em 1em !important;

    & > * {
        border: 1px solid;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    label {
        padding-left: 1em;
        font-weight: 700;
        text-align: left;
        font-size: 1.5em;
        height: 100%;
    }

    .ant-form-item-control {
        height: 100%;
    }

    .ant-form-item-control-input {
        height: 100% !important;
    }

    .ant-form-item-control-input-content {
        height: 100%;
    }

    input {
        height: 100%;
        font-size: 1.4em;
        border: none;

        &:focus,
        &:hover {
            border: none;
        }
    }
}
