.backIcon {
  position: absolute;
  top: 78px;
  left: 45px;
  width: 3.5em;
  height: 3.5em;
  display: flex;
  align-items: center;
}

.antContent {
  padding: 150px 44px 42px;
  height: 100vh;
  background: #fff;
}

h1 {
  top: 82px;
  left: 120px;
  position: absolute;
  font-size: 2em;
  font-weight: bold;
}

.container {
  height: calc(100vh - 48px);
  width: 100%;
  background-color: #fff;
  border-radius: 2%;

  a {
    display: contents !important;
  }
}
